<div id="sidebar-view-Admin" class=".sidebar-view" style="display: none">
  <div class="sidebar-group">
    <span class="sidebar-label">Admin Panel</span>
    <ul class="sidebar-menu">
      <li class="active"><a href="#overview">Overview</a></li>
      <li><a href="#" id="sidebar-admin-dashboard">Dashboard</a></li>
      <li><a href="#" id="sidebar-admin-contactforms" >ContactForms</a></li>
    </ul>
  </div>

  <div class="sidebar-group">
    <span class="sidebar-label">Management</span>
    <ul class="sidebar-menu">
      <li><a href="#businesses">Businesses</a></li>
      <li><a href="#invoices">Invoices & Billing</a></li>
    </ul>
  </div>
</div>

<div
  id="sidebar-view-BusinessOwner"
  class=".sidebar-view"
  style="display: none"
>
  <div class="sidebar-group">
    <span class="sidebar-label">BusinessOwner Panel</span>
    <ul class="sidebar-menu">
      <li class="active"><a href="#overview">Overview</a></li>
      <li><a href="#profile">Profile Settings</a></li>
      <li><a href="#security">Security & JWT</a></li>
    </ul>
  </div>

  <div class="sidebar-group">
    <span class="sidebar-label">Management</span>
    <ul class="sidebar-menu">
      <li><a href="#businesses">Businesses</a></li>
      <li><a href="#invoices">Invoices & Billing</a></li>
    </ul>
  </div>
</div>

<div
  id="sidebar-view-BusinessManager"
  class=".sidebar-view"
  style="display: none"
>
  <div class="sidebar-group">
    <span class="sidebar-label">BusinessManager Panel</span>
    <ul class="sidebar-menu">
      <li class="active"><a href="#overview">Overview</a></li>
      <li><a href="#profile">Profile Settings</a></li>
      <li><a href="#security">Security & JWT</a></li>
    </ul>
  </div>

  <div class="sidebar-group">
    <span class="sidebar-label">Management</span>
    <ul class="sidebar-menu">
      <li><a href="#businesses">Businesses</a></li>
      <li><a href="#invoices">Invoices & Billing</a></li>
    </ul>
  </div>
</div>

<div class="sidebar-footer">
  <button class="btn-logout" id="LogoutButton" onclick="Logout()">Logout</button>
</div>
